
<p>現在登録されているメニュー数は<%= @menu_list.count%>個です</p>

<!--表示されるメニューをセットする -->
<% if @menu_list.present?%>
  <% randam_menu = @menu_list.offset(rand(@menu_list.count)).first %>
  <%= randam_menu.menu_name %>
  <%= image_tag randam_menu.image.url, :size =>'300x300' %>
<% end %>

<button type="button" id="menu_button"><%= link_to "メニューを決める",menu_lists_path(@menu_list) %></button>
