<!-- メニューを表示 -->
<%=  @menu_list.offset(rand(MenuList.count)).first.menu_name %>

<button type="button" id="menu_button"><%= link_to "メニューを決める",menu_lists_path(@menu_list) %></button>

<br>
<!-- メニューを追加する -->
<p>メニューを追加</p>
<!-- メニューの一覧が見れる -->
<p>登録されているメニューの一覧</p>
