

<!-- ボタン -->
<p>メニューを決める</p>
<button type="button" name="button">メニューを決める</button>

<br>
<!-- メニューを追加する -->
<p>メニューを追加</p>
<%= @menu_list.menu_name %>
<!-- メニューの一覧が見れる -->
<p>登録されているメニューの一覧</p>
