<div class="clearfix">
  <p class="menu_count">現在登録されているメニュー数は<%= @menu_lists.count%>個です</p>
</div>

<!--表示されるメニュー -->
<div class="randam_menu">
  <%= render "randam_menu" , menu_list: @menu_lists %>
</div>

<!-- add_menuのフォーム -->
<%= render "add_menu_form" , menu_lists: @menu_list %>


<!-- add_family_nameのフォーム -->
<%= render "add_family_form" , family: @family %>
