<!-- メニューを表示 -->
<div id="namechange">
<%=  @menu_list.find(rand(2.. @menu_list.ids.length)).menu_name %>
</div>

<!-- ボタン -->
<p>メニューを決める</p>
<div id="text_button">
<button type="button" id="menu_button"><%= link_to "メニューを決める",menu_lists_path(@menu_list) %></button>
</div>

<br>
<!-- メニューを追加する -->
<p>メニューを追加</p>
<%= %>
<!-- メニューの一覧が見れる -->
<p>登録されているメニューの一覧</p>



<!-- <script>
  const target = document.getElementById('menu_button');
  target.addEventListener('click', function() {
    const aa = document.getElementById('namechange');
    document.getElementById("namechange").innerHTML = "<%=  @menu_list.find(rand(2.. @menu_list.ids.length)).menu_name %>"
  });
</script> -->
