<div class="clearfix">
  <p class="menu_count">現在登録されているメニュー数は<%= @menu_lists.count%>個です</p>
</div>

<!--表示されるメニュー -->
<div class="container">
  <div id="vue_main" class="row">
    <div v-show="show" class="offset-md-4 col-md-4">
      <div class="randam_menu">
        <%= render "randam_menu" , menu_list: @menu_lists %>
      </div>
    </div>
    <button v-show="button" @click="click" class="btn btn-outline-success btn-lg btn-block offset-4 col-4" id="menu_switch">メニューを決める</button>
  </div>
</div>

<script>
    new Vue({
       el: '#vue_main',
       data: {
           show: false,
           button: true
       },
       methods: {
           click: function () {
               this.show = !this.show,
               this.button = !this.button
           }
       }
    });
</script>

<!-- add_menuのフォーム -->
<%= render "add_menu_form" , menu_lists: @menu_list %>

<!-- add_family_nameのフォーム -->
<%= render "add_family_form" , family: @family %>
