<!-- メニューを表示 -->
<%=  @menu_list.find(rand(2.. @menu_list.ids.length)).menu_name
 %>


<!-- ボタン -->
<p>メニューを決める</p>
<button type="button" name="button">メニューを決める</button>

<br>
<!-- メニューを追加する -->
<p>メニューを追加</p>
<%= %>
<!-- メニューの一覧が見れる -->
<p>登録されているメニューの一覧</p>
