<div class="offset-1 col-10"  v-show="slide_vue">
  <img src="/imaage/session_image.png" class="img-fluid offset-md-3 col-md-6 offset-2 col-8" alt="Responsive image">
  <div class="text-center mt-3">
    <p>家族の間で使えるメニュー提案アプリです。<br>日々のメニュー決めが大変そうなお母さまの為に作ったよ<br>これで文句は言わせない！</p>
  </div>
  <button type="button" class="btn btn-light mt-3 mb-3 button_simple pekopeko" id="start_button" @click="click">さっそく始める</button>
  <br>
  <br>
  <br>
  <h1 class="text-center">アプリ概要</h1>

  <!-- スライド -->
  <div class="slidese">
    <%= render "users/sessions/slide" %>
  </div>

  <div class="row mt-md-5 mt-3">
    <div class="col-6">
      <img src="/imaage/slide_08.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-6">
      <p>今日のご飯を決める時はボタンを押すだけ！</p>
    </div>
  </div>
  <div class="row  mt-md-5 mt-3">
    <div class="col-6">
      <p>画面が切り替わり、登録してあるメニューの中から表示される！</p>
    </div>
    <div class="col-6">
      <img src="/imaage/slide_09.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row  mt-md-5 mt-3">
    <div class="col-6">
      <img src="/imaage/slide_10.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-6">
      <p>「今日はこれじゃないな」と言うときはもう一度ボタンを押すと切り替わる</p>
    </div>
  </div>
  <div class="row  mt-md-5 mt-3">
    <div class="col-6">
      <p>再度画面が切り替わり、予め登録しておいたメニューが表示される</p>
    </div>
    <div class="col-6">
      <img src="/imaage/slide_11.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row  mt-md-5 mt-3">
    <div class="col-6">
      <img src="/imaage/slide_16.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-6">
      <p>メニューの登録は誰でも可能！登録の手間を大幅解消！</p>
    </div>
  </div>
  <button type="button" class="btn btn-light mt-3 mb-3 button_simple mocchiri" id="start_button" @click="click">さっそく始める</button>
</div>
