<p>ようこそゲストさん</p>
<%= link_to "all_menu", all_menu_menu_list_path(:user) %><br />
<%= link_to "ログイン", new_session_path(:user) %><br />
<%= link_to "新規登録", new_registration_path(:user) %><br />

  <div class="container main">
    <div id="vue_main" class="row">
      <div v-show="show" class="offset-md-4 col-md-4">
        <div class="randam_menu">
          <%= render "menu_lists/randam_menu" , menu_list: @menu_lists %>
        </div>
      </div>
      <button v-show="button" @click="click" class="btn btn-outline-success btn-lg btn-block offset-4 col-4" id="menu_switch">メニューを決める</button>
    </div>
  </div>

<script>
    new Vue({
       el: '#vue_main',
       data: {
           show: false,
           button: true
       },
       methods: {
           click: function () {
               this.show = !this.show,
               this.button = !this.button
           }
       }
    });
</script>
