/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

header{
  background-color: rgb(29, 36, 34);
}
.current_user_name{
  color: white;
  font-size: 50px;
  float: left;
  position: absolute;
  left:20px;
  font-family: 'Corben', cursive;
  padding: 10px;
  height: 100%;
}
header a{
  color: white;
}
.hedder_right{
  float: right;
  /* margin-left:40px;
  margin-right: 40px; */
  /* margin: 40px; */
  height: 100%;
  padding:35px;

}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.menu_header{
  height: 6rem;
  position: relative;
  font-family: 'Corben', cursive;
}
