/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


/* ヘッダー */
header{
  background-color: rgb(29, 36, 34);
}
.current_user_name{
  color: white;
  font-size: 50px;
  font-family: 'Corben', cursive;
  padding: 10px;
}
header a{
  color: white;
  white-space: nowrap;
}
.btn-link{
  color: white;
  white-space: nowrap;
}
.hedder_right{
  padding:35px;
}
.menu_header{
  font-family: 'Corben', cursive;
}

/* トップページ */
  .menu_count{
    float:right;
    margin-right: 2rem;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
  }
  .randam_menu{
    text-align: center;
  }
  .menu_name{
    font-family: "Nico Moji";
    font-size: 20vw;
    font-size: 60px;
    margin: 0;
  }
  .back_main{
    margin: 0 auto;
    width: 50%;
  }
  #menu_button a{
   color: white;
  }
  /* ツールチップ */
  span.comment{
    width: 200px;
    height: 40px;
    background: rgb(181, 181, 181);
    color: white;
    padding-top: 7px;
    padding-left:5px;
    font-size: large;
    text-align: left;
    white-space: nowrap;
  }
  span.comment_show{
  height: 110px;
  padding-left: 10px;
  width:175px;
  z-index: 9999;
  }
  span.edit_family_list_comment{
    width: 300px;
  }
  span.menu_comment{
    width: 230px;
  }

  /* フラッシュメッセージ */
  .notice {
      width: 100%;
      float: left;
      font-family: 'Anton', sans-serif;
      background-color: rgb(119, 228, 37);
  }

  /* メニュースイッチ */
  #menu_switch{
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-family: 'M+ Type-1 (general-j) Black';
  }
/* add_menuモーダル */
#menu_list_image{
  padding-left: 0;
}
/* show */
  table.show_table{
    text-align: center;
    table-layout:fixed;
    width:100%;
  }
  table.show_table td{
  }

  .table_data{
    font-family: "Nico Moji";
  }
  .menu_name{
    font-size: 4vmax;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
  }
  .btn-outline-light{
    color: rgb(107, 86, 78);
  }
  /* レスポンシブでヘッダーを消す */
  @media screen and (max-width: 460px){
    .table_head {display:none}
  }


  .edit_button {
    display: block;
    width: 100%;
    height: 3rem;
    border: none;
    text-align: left;
    border-radius: 0;
    color: Black;
  }
  .edit_or_delete{
    font-family: 'Corben', cursive;
    height: 100%;
  }
  .edit_or_delete_header{
    background-color: yellow;
    font-size: 2vh;
    width: 100%;
    height:9vh;
  }


  .edit_family_list_button{
    margin-right: 2rem;
    margin-top: 1rem;
    color         : #7f007f;
    background    : #ffffff;
    border        : 1px solid #7f007f;
    border-radius : 5%;
    height: 38px;
  }
  .edit_family_list_button:hover {
    color         : #ffffff;
    background    : #7f007f;
}

  .family_name_lists{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  table.family_lists_table{
    table-layout:fixed;
    width: 100%;
  }
  .edit_or_delete_modal_header{
    background-color: rgb(42, 195, 39);
    color: white;
  }
  .family_edit_or_delete_button{
    white-space: nowrap;
    width:100%;
  }
  .family_edit_or_delete_button a{
    /* display: table; */
  }

/* ログイン画面 */
.sessions{
  background-color: rgb(158, 213, 223);
}
#start_button{
  font-size: 3vw;
  width:100%;
}
.new_registrations{
  margin-top: 130px;
}
/* スライド */
.slidese{
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
/* 「これから始める」ボタン */
.button-simple {
    position: relative;
    font-weight: bold;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 30px;/*角の丸み*/
    font-size: 18px;/*文字サイズ*/
    background-color: #00a41a;/*背景色*/
    color: #fff;/*文字色*/
    display: inline-block;
    text-shadow: 1px 1px 0px rgb(0, 0.3);
    box-shadow: 0 3px 0 rgb(0, 0.3);
}
.button-simple:before {
    font-family: FontAwesome;
    content: '▷';/*好きなアイコン*/
    color: #eeee22;/*アイコンの色*/
    margin-right: 3px;
}
a:hover .button-simple {
    background-color: #cc0000;/*触れたときの背景色*/
    color: #fff;/*触れたときの文字色*/
    box-shadow: 0 0px 0 rgba(0, 0.3);
    animation-play-state: paused;
    top: 3px;
}
.pekopeko {
    animation: pekopeko 2s infinite;
    box-shadow: 0 3px 0 rgb(0, 0.3);
}
@keyframes pekopeko {
    0% {
        box-shadow: 0 3px 0 rgb(0, 0.3);
        top: 0px;
    }
    10% {
        box-shadow: 0 0 0 rgb(0, 0.3);
        top: 3px;
    }
    20% {
        box-shadow: 0 3px 0 rgb(0, 0.3);
        top: 0px;
    }
    30% {
        box-shadow: 0 0 0 rgb(0, 0, 0.3);
        top: 3px;
    }
    40% {
        box-shadow: 0 3px 0 rgb(0, 0, 0.3);
        top: 0px;
    }
}
.mocchiri {
    animation: mocchiri 3s infinite;
}
@keyframes mocchiri {
    0% {
        transform: scale(1, 0.8);
    }
    20% {
        transform: scale(0.8, 1.1);
    }
    95% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 0.8);
    }
}
/* サインアップ画面 */
@media screen and (max-width: 460px){
  .new_registrations_image {display:none}
}
@media screen and (min-width: 460px){
  #new_registrations_image {display:none}
}
.registrations{
  background-color: rgb(158, 213, 223);
}
