/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


/* ヘッダー */
header{
  background-color: rgb(29, 36, 34);
}
.current_user_name{
  color: white;
  font-size: 50px;
  font-family: 'Corben', cursive;
  padding: 10px;
}
header a{
  color: white;
  white-space: nowrap;

}
.btn-link{
  color: white;
  white-space: nowrap;
}
.hedder_right{
  padding:35px;
}
.menu_header{
  font-family: 'Corben', cursive;
}

/* トップページ */
  .menu_count{
    float:right;
    margin-right: 2rem;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
  }
  .randam_menu{
    text-align: center;
  }
  .menu_name{
    font-family: "Nico Moji";
    font-size: 20vw;
    font-size: 60px;
    margin: 0;
  }
  .back_main{
    margin: 0 auto;
    width: 50%;
  }
  #menu_button a{
   color: white;
  }

  /* フラッシュメッセージ */
  .notice {
      width: 100%;
      float: left;
      font-family: 'Anton', sans-serif;
      background-color: rgb(119, 228, 37);
  }

  /* メニュースイッチ */
  #menu_switch{
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-family: 'M+ Type-1 (general-j) Black';
  }

/* show */
  table.show_table{
    text-align: center;
    table-layout:fixed;
    width:100%;
  }
  table.show_table td{
  }

  .table_data{
    font-family: "Nico Moji";
  }
  .menu_name{
    font-size: 4vmax;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
  }
  .btn-outline-light{
    color: rgb(107, 86, 78);
  }
  /* レスポンシブでヘッダーを消す */
  @media screen and (max-width: 460px){
    .table_head {display:none}
  }

  .edit_button {
    display: block;
    width: 100%;
    height: 3rem;
    border: none;
    text-align: left;
    border-radius: 0;
    color: Black;
  }
  .edit_or_delete{
    font-family: 'Corben', cursive;
    height: 100%;
  }
  .edit_or_delete_header{
    background-color: yellow;
    font-size: 2vh;
    width: 100%
    height: 9vh;
  }
